body {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
}


/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */