<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-link" routerLink="about">
      <img src="../../assets/logo.png" alt="Maher" height="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item lead">
          <!-- <a class="nav-link lead" aria-current="page" (click)="goToHeader()">À PROPOS DE MOI</a> -->
          <a class="nav-link lead" aria-current="page" routerLink="about">À PROPOS DE MOI</a>
        </li>
        <li class="nav-item lead">
          <!-- <a class="nav-link lead" (click)="goToRealisations()">RÉALISATIONS</a> -->
          <a class="nav-link lead" routerLink="realisations">RÉALISATIONS</a>
        </li>
        <li class="nav-item lead">
          <!-- <a class="nav-link lead" (click)="goToCompetences()">COMPÉTENCES</a> -->
          <a class="nav-link lead" routerLink="competences">COMPÉTENCES</a>
        </li>
        <li class="nav-item lead">
          <!-- <a class="nav-link lead" (click)="goToContact()">CONTACT</a> -->
          <a class="nav-link lead" routerLink="contact">CONTACT</a>
        </li>
      </ul>
      <span class="navbar-text lead">
        BIENVENUE SUR MON PORTFOLIO

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/maher-amri/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;"
          href="https://github.com/amri-coder" role="button"><i class="fab fa-github"></i></a>
        <!-- Contact -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgba(0, 0, 0, 0.2); "
          href="mailto:amri.maher@yahoo.com" role="button"><i class="fa-solid fa-envelope"></i></a>


        <!-- <a
  class="btn btn-outline-secondary m-1 muted"
  role="button"
  ><i class="fa-solid fa-phone">
  &nbsp;06.52.96.02.44</i>
</a> -->
      </span>
    </div>
  </div>
</nav>