<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./competences.component.css">
  <title>Compétences</title>
</head>
<body>
  <div class="container text-center">
    <h2 class="display-4">Compétences</h2>
    <p class="lead">Vous trouveriez ci-joint l'ensemble des languages, frameworks et libraires que je maîtrise, et que je pratique au quotidien </p>
  </div>
  <div class="container text-center">
    <div class="table-responsive lead">
    <table class="table">
      <thead>

      </thead>
      <tbody>
          <tr>
              <td>
                <i class="fa-brands fa-java fa-fade fa-2xl"></i>
                <span class="fa-fade p-2">Java/Jee</span>
              </td>
              <td>
                <i class="fa-brands fa-js fa-fade fa-2xl"></i>
                <span class="fa-fade p-2">JavaScript</span>
              </td>


          </tr>
          <tr>
            <td>
              <i class="fa-brands fa-html5 fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">HTML</span>
            </td>
            <td>
              <i class="fa-brands fa-css3-alt fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">CSS</span>
            </td>
            </tr>
            <tr>
            <td>
              <i class="fa-brands fa-angular fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Angular</span>
            </td>
            <td>
              <i class="fa-brands fa-bootstrap fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Bootstrap</span>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa-solid fa-database fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Base de données</span>
            </td>
            <td>
              <i class="fa-brands fa-docker fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Docker</span>
            </td>

          </tr>
          <tr>
            <td>
              <i class="fa-brands fa-sass fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Sass</span>
            </td>
            <td>
              <i class="fa-brands fa-git-alt fa-fade fa-2xl"></i>
              <span class="fa-fade p-2">Git</span>
            </td>
          </tr>
      </tbody>
  </table>
</div>






  </div>
</body>
</html>


