<section class="container">


  <div class="text-center">
    <h2 class="display-4 lead">
      Détails
    </h2>

    <p class="lead">
      Avec plusieurs année d'expérience en tant que Développeur Web Full Stack, je suis hautement qualifié et
      passionné par mon travail. Je travaille actuellement sur Java/Angular et j'ai hâte d'entreprendre des projets
      plus
      stimulants et
      d'élargir mon expertise dans le domaine. Mon expérience comprend le développement d'applications Web à l'aide de
      HTML5, CSS3, JavaScript, TypeScript, Angular, Java, Spring boot.
    </p>
    <p class="lead">
      De plus, j'ai de l'expérience avec des
      bases de données telles que MySQL et PostgreSQL. Avec mes connaissances et ma passion pour le développement Web,
      j'ai hâte d'entreprendre plus de travail et d'accroître mes compétences en tant que développeur Web.
    </p>
    <p class="lead">
      Mon inventivité et ma curiosité seront des atouts indéniables pour réaliser avec succès vos futurs projets car
      je suis toujours au fait des dernières tendances techniques.
    </p>
    <div class="lead">
      <button class="btn btn-floating m-1 lead">HTML 5</button>
      <button class="btn btn-outline m-1 lead">CSS 3</button>
      <button class="btn btn-outline m-1 lead">BOOTSTRAP</button>
      <button class="btn btn-outline m-1 lead">JAVASCRIPT</button>
      <button class="btn btn-outline m-1 lead">TYPESCRIPT</button>
      <button class="btn btn-outline m-1 lead">ANGULAR</button>
      <button class="btn btn-outline m-1 lead">API</button>
      <button class="btn btn-outline m-1 lead">SQL</button>
      <button class="btn btn-outline m-1 lead">JAVA</button>
      <button class="btn btn-outline m-1 lead">SPRING BOOT</button>
    </div>
  </div>


</section>